//Import general styling
@import "./style/typography.scss";

//Import file styling

//Colors
$primary-color: #ff0000;
$secondary-color: #ffff00;
$black: #383838;
$green: #c8ffd4;
$red: #f7a4a4;
$blue: #ccece6;
$yellow: #ffe9d4;

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-moz-selection {
  /* Code for Firefox */
  color: $red;
  background: white;
}

::selection {
  color: $red;
  background: white;
}

@keyframes fadeOutAnimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fade-out {
  animation: fadeOutAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.loading-screen {
  width: 100vw;
  height: 100vh;
  background-color: white;

  position: relative;
  z-index: 999;
  position: absolute;

  display: grid;
  place-items: center;
}

.move-up {
  animation: moveUpAnimation ease-in 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes moveUpAnimation {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100vh);
  }
}

.loading-screen-container {
  width: 90%;
  height: 90%;

  background-image: url("/images/loading-screen-background.jpg");
  background-size: cover;

  border: $black 5px solid;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20%;

  // border: red solid 2px;
}

.loading-screen-icon-container {
  position: relative;
}

.loading-screen-icon-0,
.loading-screen-icon-1 {
  width: 50px;
  height: 50px;

  border: $black 2px solid;

  position: absolute;
  left: 45%;
  top: 45%;
}

@keyframes configure-clockwise {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes configure-xclockwise {
  0% {
    transform: rotate(45deg);
  }
  25% {
    transform: rotate(-45deg);
  }
  50% {
    transform: rotate(-135deg);
  }
  75% {
    transform: rotate(-225deg);
  }
  100% {
    transform: rotate(-315deg);
  }
}

.loading-screen-icon-0 {
  background-color: $red;
  animation: configure-clockwise 5s ease-in-out 0s infinite alternate;
}

.loading-screen-icon-1 {
  background-color: $green;
  animation: configure-xclockwise 5s ease-in-out 0s infinite alternate;
}

.loading-screen-bottom-text {
  position: absolute;

  color: $black;
  letter-spacing: 0;

  top: 75%;
  -webkit-text-stroke: 0px $black;
}

.intro-text-container-0 {
  position: absolute;
  text-align: center;
  width: 75%;
  opacity: 0;
}

.intro-text-container-1 {
  position: absolute;
  text-align: center;
  width: 75%;
  opacity: 0;
}

.our-work-container {
  border: forestgreen solid 2px;
  text-align: center;
  // -webkit-text-stroke: #383838 2px;
  color: white;
}

.our-work-cards-container {
  border: blue solid 2px;
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 6vh;

  padding-top: 2%;
}

.our-work-card-sphene,
.our-work-card-space-camp {
  border: $black solid 4px;

  background-position: center;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 75%;
  height: 25vh;
}

.our-work-card-sphene {
  background-image: url("/images/sphene.jpg");
}

.our-work-card-space-camp {
  background-image: url("/images/space-camp.jpg");
}

.contact-us-container {
  text-align: center;
  width: 75%;
  width: 100vw;
  padding: 5% 0;
  // height: 200vh;
  border: red solid 2px;
}

.contact-us-cards {
  // border: blue solid 2px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5%;

  padding-top: 2%;
}

.contact-us-card-email,
.contact-us-card-twitter,
.contact-us-card-github,
.contact-us-card-linkedin {
  width: 10%;

  border: $black solid 4px;
  position: relative;
}

.contact-us-card-email {
  background: $green;
}

.contact-us-card-twitter {
  background: $red;
}

.contact-us-card-github {
  background: $blue;
}

.contact-us-card-linkedin {
  background: $yellow;
}

.contact-us-card-email::after,
.contact-us-card-twitter::after,
.contact-us-card-github::after,
.contact-us-card-linkedin::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.contact-us-card-email-svg,
.contact-us-card-twitter-svg,
.contact-us-card-github-svg,
.contact-us-card-linkedin-svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 50%;
}

.contact-us-email {
  padding-top: 2%;
  color: $black;
}

.footer {
  width: 100vw;
  height: 10vh;
  background: $black;
  color: white;
  padding: 2%;
}

.webgl {
  position: relative;
  left: 0;
  top: 0;
  z-index: 0;
  outline: none;
}
